{% extends "base.html" %}

{% block content %}
<h1>Welcome</h1>
<div id="container-board">
    <section id="board">
        <table>
            {% for x in range(4): %}
                <tr>
                    {% for i in range(4): %}
                        <td class="color1"></td>
                        <td class="color2"></td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for i in range(4): %}
                        <td class="color2"></td>
                        <td class="color1"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </section>
</div>

{% endblock %}